<h1 class="mx-4 mt-3">¡Bienvenido! ingresa tu email y una contraseña para registrarte.</h1>
<form action="/register" method="post" class="mx-4 mt-3">
  <div class="mb-3">
    <label for="userInput" class="form-label">Email</label>
    <input type="email" class="form-control" id="userInput" aria-describedby="emailHelp" name="username">
    <label for="passwordInput" class="form-label">Contraseña</label>
    <input type="text" class="form-control" id="passwordInput" aria-describedby="emailHelp" name="password">
    <label for="nameInput" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nameInput" aria-describedby="emailHelp" name="name">
    <label for="ageInput" class="form-label">Edad</label>
    <input type="text" class="form-control" id="ageInput" aria-describedby="emailHelp" name="age">
        <label for="dirInput" class="form-label">Direccion</label>
    <input type="text" class="form-control" id="dirInput" aria-describedby="emailHelp" name="dir">
            <label for="phoneInput" class="form-label">Telefono</label>
    <input type="text" class="form-control" id="phoneInput" aria-describedby="emailHelp" name="phone">
                <label for="pictureInput" class="form-label">Foto</label>
    <input type="text" class="form-control" id="pictureInput" aria-describedby="emailHelp" name="picture">
  </div>
  <button class="btn btn-primary">Registrarse</button>
</form>
<button class="btn btn-primary mx-4 mt-3" onclick = window.location.href='/login';>Ir a logearse =></button>
